<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library APP</title>
    <link th:href="@{/styles/main.css}" href="../static/styles/main.css" rel="stylesheet" />
    <script th:src="@{/scripts/main.js}" href="../static/scripts/main.js"></script>
</head>

<body class="dark">
    <div id="content">
        <table class="data-show-container">
            <thead>
                <tr>
                    <th>Kolumna 1</th>
                    <th>Kolumna 2</th>
                    <th>Kolumna 3</th>
                    <th>Kolumna 4</th>
                    <th class="remove-column"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td><button class="button-primary">X</button></td>
                </tr>
                <tr>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td><button class="button-primary">X</button></td>
                </tr>
                <tr>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td>Wartosc 1</td>
                    <td><button class="button-primary">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>